<ul class="flex flex-wrap list-none pl-0 mb-0 md:w-1/3 justify-end">
    <li><a href="#" class="inline-block p-2 no-underline"><i class="fa-brands fa-facebook"></i></a></li>
    <li><a href="#" class="inline-block p-2 no-underline"><i class="fa-brands fa-twitter"></i></a></li>
    <li><a href="#" class="inline-block p-2 no-underline"><i class="fa-brands fa-instagram"></i></a></li>
    <li><a href="#" class="inline-block p-2 no-underline"><i class="fa-brands fa-tiktok"></i></a></li>
    <li><a href="#" class="inline-block p-2 no-underline"><i class="fa-brands fa-youtube"></i></a></li>
  </ul>